<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.module.filesupload.FilesUploadDao">
	
	<resultMap type="com.example.module.filesupload.FilesUploadDto" id="resultMapObj"></resultMap>
	
	<!-- uploaded s -->
	<insert id="insertUploaded">
		INSERT INTO fileUploaded (
			type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			
			,pseq
		) values (
			#{type}
			,#{defaultNy}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			
			,#{pseq}
		)
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			,pseq
		FROM
			fileUploaded
		WHERE 1=1
			AND pseq = #{pseq}
	</select>
	

</mapper>