<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.module.member.MemberDao">
	<resultMap id="resultMapObj" type="com.example.module.member.MemberDto"></resultMap> 
	
	<sql id="selectCommon">
		
		FROM member as a
		WHERE 1=1
<!-- 		<if test="shUseNy != null and !shUseNy.equals('')">AND a.useNy = #{shUseNy}</if> -->
<!--         <if test="shDelNy != null and !shDelNy.equals('')">AND a.delNy = #{shDelNy}</if> -->
<!-- 				
				<choose>
					<when test="shOptionDate == 1">AND a.regDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.modDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
 -->				
        <choose>
            <when test="shOption == 1">AND a.id LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 2">AND a.name LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
	</sql>
	
	
	<select id="selectOneCount" resultType="Integer">
	SELECT COUNT(*)
	<include refid="selectCommon"></include>
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
  	select aa.* from (
	  	SELECT 
			a.seq,
			a.id,
			a.authLevel,
			a.password,
			a.surName,
			a.name,
			a.gender_code,
			a.telecom_code,
			a.birthDate
		<include refid="selectCommon"></include>
		ORDER BY seq DESC
		) aa
	limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
	SELECT 
		seq,
		authLevel,
		id,
		password,
		surName,
		name,
		gender_code,
		telecom_code,
		birthDate
	FROM
		member
		WHERE 1=1
			AND seq = #{seq}
		ORDER BY seq DESC
	</select>
	
	<insert id="insert">
	INSERT INTO member (					
			authLevel,
			id,
			password,
			surName,
			name,
			gender_code,
			telecom_code,
			birthDate
		) values (			
			#{authLevel},
			#{id},
			#{password},
			#{surName},
			#{name},	
			#{gender_code},
			#{telecom_code},
			#{birthDate}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>		
	</insert>
	
	<update id="update">
		UPDATE member SET
			id = #{id},
    		password = #{password},
    		surName = #{surName},
    		name = #{name},
    		gender_code = #{gender_code},
    		telecom_code = #{telecom_code},
    		birthDate = #{birthDate},
    		authLevel = #{authLevel}
		WHERE seq = #{seq}
	</update>
	
	<delete id="delete">
		DELETE FROM member WHERE seq = #{seq}
	</delete> 	
	
	<update id="uelete">
		UPDATE member SET
			delNy = 1
		WHERE seq = #{seq}
	</update>
	
	<select id="getUserList" resultType="com.example.module.member.MemberDto">
    SELECT * 
    FROM member 
    ORDER BY id DESC
    LIMIT #{offset}, #{pageSize}
	</select>
	
	<select id="signinChk" resultType="com.example.module.member.MemberDto">
	SELECT * 
    FROM member
		WHERE id = #{id} 
      	AND password = #{password}
      	ORDER BY seq DESC
	</select>
	
	<select id="selectId" resultType="com.example.module.member.MemberDto">
    SELECT * FROM member WHERE id = #{id}
	</select>
</mapper>