<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.module.product.ProductDao">
	<resultMap id="resultMapObj" type="com.example.module.product.ProductDto"></resultMap>
	
	<sql id = "selectCommon">
		FROM product as a
		WHERE 1=1
<!-- 		AND a.mealDelNy = 0 -->
		<if test="shUseNy != null and !shUseNy.equals('')">AND a.prdtUseNy = #{shUseNy}</if>
        <if test="shDelNy != null and !shDelNy.equals('')">AND a.prdtDelNy = #{shDelNy}</if>
 				
				<choose>
					<when test="shOptionDate == 1">AND a.prdtRegDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.prdtModDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
				
        <choose>
            <when test="shOption == 1">AND a.prdtSeq = #{shValue}</when>
            <when test="shOption == 2">AND a.prdtName LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
        
        <if test="shOption1 != null and shOption1 != ''">
	        AND a.prdtName = #{shOption1}
	    </if>
        
		ORDER BY a.prdtSeq DESC
	</sql>

	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
	select aa.* from (
		select
			a.prdtSeq
			,a.prdtName
			,a.prdtCateCd
			,a.prdtStatus
			,a.prdtPrice
			,a.abv
			,a.ibu
			,a.volume
			,a.countryCode
			,a.brewery
			,a.prdtRegDate
			,a.prdtModDate
		<include refid = "selectCommon"></include>
	) aa
	limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			p.prdtSeq
	        ,p.prdtName
	        ,p.prdtPrice
	        ,p.prdtCateCd
	        ,p.prdtStatus
	        ,p.prdtUseNy
	        ,p.prdtDelNy
	        ,p.prdtRegDate
	        ,p.prdtModDate
	        ,p.prdtDesc
	        ,p.abv            
	        ,p.ibu
	        ,p.volume
	        ,p.countryCode
	        ,p.brewery
	        ,f.path
	        ,cat.codeName AS prdtCateName
		from
			product p
		LEFT JOIN
		fileUploaded f ON p.prdtSeq = f.pseq AND f.type = 1001 AND f.delNy = 0
		LEFT JOIN
        code cat ON p.prdtCateCd = cat.codeSeq
		where 1=1
			and p.prdtSeq = #{prdtSeq}
	</select>
	
	<insert id="insert">
	    INSERT INTO product (					
			prdtName
			,prdtCateCd
			,prdtStatus
			,prdtPrice
			,prdtUseNy
			,prdtDelNy
			,prdtRegDate
			,prdtModDate
			,prdtDesc
			,abv
			,ibu
			,volume
			,countryCode
			,brewery
	    ) values (			
	        #{prdtName}
	        ,#{prdtCateCd}
	        ,#{prdtStatus}
	        ,#{prdtPrice}
	        ,#{prdtUseNy}
	        ,#{prdtDelNy}
	        ,CURRENT_TIMESTAMP
	        ,CURRENT_TIMESTAMP
	        ,#{prdtDesc}
	        ,#{abv}
	        ,#{ibu}
	        ,#{volume}
	        ,#{countryCode}
	        ,#{brewery}
	    )
		<selectKey resultType="String" keyProperty="prdtSeq" order="AFTER">
	        SELECT last_insert_id()
    	</selectKey>		
	</insert>
	
	<select id="selectListWithImages" resultMap="resultMapObj">
        SELECT
            p.prdtSeq,
            p.prdtName,
            p.prdtPrice,
            p.prdtDesc,
            p.prdtStatus,
            p.abv,
            p.ibu,
            p.volume,
            p.countryCode,
            p.brewery,
            p.prdtRegDate,
            p.prdtModDate,
            p.prdtUseNy,
            p.prdtDelNy,
            p.prdtCateCd,
            img.path,
            cat.codeName AS prdtCateName
        FROM
            product p
        LEFT JOIN
            fileUploaded img ON p.prdtSeq = img.pseq AND img.type = 1001 AND img.delNy = 0
        LEFT JOIN
            code cat ON p.prdtCateCd = cat.codeSeq
        WHERE
            p.prdtDelNy = 0
            AND p.prdtUseNy = 1
        ORDER BY
            p.prdtSeq DESC
    LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
	</select>
	
	<update id="update">
		UPDATE product SET
        prdtName = #{prdtName},
        prdtStatus = #{prdtStatus},
        prdtPrice = #{prdtPrice},
        prdtCateCd = #{prdtCateCd},
        prdtDesc = #{prdtDesc},
        abv = #{abv},
        ibu = #{ibu},
        volume = #{volume},
        countryCode = #{countryCode},
        brewery = #{brewery},
        prdtModDate = CURRENT_TIMESTAMP 
    WHERE
        prdtSeq = #{prdtSeq}
	</update>
	
	<update id="uelete">
    UPDATE product SET
        prdtDelNy = 1
    WHERE
        prdtSeq = #{prdtSeq}
</update>
	
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			prdtSeq
			, prdtName
		FROM
			product
		WHERE 1=1
			AND prdtDelNy = 0
		    AND prdtUseNy = 1
   	</select>
</mapper>