<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{xdm/include/headXdm :: headXdm}"></div>

<body>
<section class="section">
	<div class="row">
	
	 <div class="col-lg-12">
     	<div class="card" >
        	<div class="card-body">
              <h1 class="card-title" style="height: 100px;" >기본정보</h1>
              
             <!-- Validation --> 
			<form  class="row g-3" method="post" id="form" name="form">
			 <div class="col-md-3">
			 	<input type="hidden" name="cdgrSeq" th:value="${item?.cdgrSeq}"/>
			 	<input type="hidden" name="cdupdtDate" />	               		
               	<label for="cdgcode" class="form-label">코드그룹 코드 <sup>*</sup></label>
			 	<input type="text" class="form-control" id ="cdgcode" value="" placeholder="자동생성" disabled th:value="${item?.cdgrSeq}"/>
			 </div>
			 <div class="col-md-3">
			 	<label for="cdgrName" class="form -label">코드그룹 이름 <sup>*</sup></label>
			 	<input type="text" class="form-control" name="cdgrName" id="cdgrName" placeholder="이름을 입력" th:value="${item?.cdgrName}"/>
			 </div>
			 <div class="col-md-3">
			 	<label for="cdgrDelNy" class="form -label">삭제여부<sup>*</sup></label>
			 	<select class="form-select" id="cdgrDelNy" name="cdgrDelNy" th:selected="${item?.cdgrDelNy}">
			 		<option value="">선택해주세요</option>
			 		<option value="1" th:selected="${item?.cdgrDelNy == 1}" th:text="사용"></option>
			 		<option value="0" th:selected="${item?.cdgrDelNy == 0}" th:text="미사용"></option>
			 	</select>
			 </div>
			 <div class="col-md-3">
			 	<label for="cdgrUseNy" class="form -label">사용여부<sup>*</sup></label>
			 	<select class="form-select" id="cdgrUseNy" name="cdgrUseNy" th:selected="${item?.cdgrUseNy}">
			 		<option value="">선택해주세요</option>
			 		<option value="1" th:selected="${item?.cdgrUseNy == 1}" th:text="사용"></option>
			 		<option value="0" th:selected="${item?.cdgrUseNy == 0}" th:text="미사용"></option>
			 	</select>
			 </div>
			 <div class="col-md-3">
			 	<label for="cdgrRegDate" class="form -label">regDate <sup>*</sup></label>
			 	<input type="text"  class="form-control" name="cdgrRegDate" id="cdgrRegDate" placeholder="날짜를 입력"/>
			 </div>
			 <div class="col-md-3">
			 	<label for="cdgrModDate" class="form -label">modDate <sup>*</sup></label>
			 	<input type="text" class="form-control" name="cdgrModDate" id="cdgrModDate" placeholder="날짜를 입력"/>
			 </div>
			<!-- Button trigger modal -->
			<div class="col-md-6"></div>
			<div class="col-md-6">
				<a href="/codeGroup/codeGroupXdmList" class="btn btn-outline-dark"><i class="bi bi-blockquote-right"></i></a>
				<button class="btn btn-danger">X</button>
                <button type="button" class="btn btn-danger" id="btnUelete" ><i class="bi bi-trash"></i></button>
			</div>
			<div class="col-md-6">
				<div style="disaplay: flex;justify-content: end;"><button class="btn btn-primary" id="btnSubmit"><i class="bi bi-server"></i></button></div>
				</div>
			</form>
		</div>
	</div>
		<div class="modal fade" id="modalAlert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="modalAlertTitle">title</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body" id="modalAlertBody">
		           body
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-secondary btn-sm btn_custom" data-bs-dismiss="modal" id="close">닫힘</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<div class="modal fade" id="modalConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="modalAlertTitle">title</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body" id="modalConfirmBody">
		           body
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="modal">닫힘</button>
		        <button type="button" class="btn btn-danger" id="btnModalDelete"></button>
		        <button type="button" class="btn btn-danger" id="btnModalUelete">삭제</button>
		      </div>
		    </div>
		  </div>
		</div>
	  </div>
     </div>
</section>
<script src="/xdm/jquery/jquery-3.7.1.min.js"></script>
<script src="/xdm/jquery/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>
<!-- Libs JS -->
<!-- <script src="/xdm/template/admin_ui/libs/jquery/dist/jquery.min.js"></script> -->
<script src="/xdm/template/admin_ui/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/xdm/template/admin_ui/libs/simplebar/dist/simplebar.min.js"></script>

<!-- Theme JS -->
<script src="/xdm/template/admin_ui/js/theme.min.js"></script>

<script type="text/javascript">
	let seq = document.querySelector("input[name=cdgrSeq]");
	let form = document.querySelector("form[name=form]");

	function validationInst() {
	    if(validationUpdt() == false) return false;
	}

	function validationUpdt() {
		if(document.getElementById("cdgrName").value.trim() == null || document.getElementById("cdgrName").value.trim() == "") {
			alertModal()
			document.getElementById("cdgrName").focus();
			return false;
		}
		if(document.getElementById("cdgrNameEng").value.trim() == null || document.getElementById("cdgrNameEng").value.trim() == "") {
			alertModal()
			return false;
		}
	}
	
	document.getElementById("btnSubmit").onclick = function () {
		if(seq.value == "0" || seq.value == "") {
			if(validationInst() == false) return false;
			form.action = "/codegroup/codegroupXdmInst";
			form.submit();
		} else {
			if(validationUpdt() == false) return false;
// 			alert(new Date());
			form.action = "/codegroup/codegroupXdmUpdt";
			form.submit();
		}
	}
	
	function alertModal() {
		document.querySelector("#modalAlertTitle").textContent = "입력오류";
		document.querySelector("#modalAlertBody").textContent = "형식에 맞는 값을 입력해주세요";
		$("#modalAlert").modal("show");
	}
	
	document.getElementById("btnUelete").onclick = function () {
		document.querySelector("#modalAlertTitle").textContent = "확 인";
		document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
		document.querySelector("#btnModalUelete").style.display = '';
		document.querySelector("#btnModalDelete").style.display = 'none';
		document.getElementById("modalConfirm").style.display = 'block';
		$("#modalConfirm").modal("show");
	}
	
	document.getElementById("btnModalUelete").onclick = function () {
		form.action = "/codegroup/codegroupXdmUele";
		form.submit();
	}
	
	document.getElementById("closeModal").onclick = function() {
		if(document.getElementById("cdgrName").value.trim() == null || document.getElementById("cdgName").value.trim() == "") {
			document.getElementById("cdgrName").focus();
			return false;
		}
	}
	
	document.getElementById("savechanges").onclick = function() {
		alert("savechanges");
	}
	
	/* document.getElementById("btnSave").onclick = function() {
		alert("asdfasdf");
	} */
	
// 	document.getElementById("name").onchange = function() {
// 		alert("name");
// 	}
</script>
</body>
</html>