<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<th>seq</th>
		<th>name</th>
		<th>delNy</th>
		<th>useNy</th>
		<th>regDate</th>
		<th>modDate</th>
	</tr>
	<tr>
		<td th:text="${item.seq}"></td>
		<td th:text="${item.name}"></td>		
		<td th:text="${item.delNy}"></td>		
		<td th:text="${item.useNy}"></td>		
		<td th:text="${item.regDate}"></td>		
		<td th:text="${item.modDate}"></td>		
	</tr>
	
</table>

<a href="/xdm/codeGroup/codeGroupXdmList">목록</a>
<a th:href="@{/xdm/codeGroup/codeGroupXdmDele(seq=${item.seq})}" id="delete">삭제</a>
<a th:href="@{/xdm/codeGroup/codeGroupXdmMfom(seq=${item.seq})}">수정</a>
<a th:href="@{/xdm/codeGroup/codeGroupXdmUele(seq=${item.seq})}" id="uelete">업제</a>

<script type="text/javascript">

	document.getElementById("uelete").onclick = function() {
		if(confirm("진짜요?")){
			// 삭제 고고
		} else {
			// 아무것도 하지 않아도 됩니다.
			return false;
		}
	}
	
</script>

</body>
</html>