<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headUser">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content="Codescandy" name="author">
	<title>Pub | 펍</title>
	
	<!-- Libs CSS -->
	<link href="/xdm/template/admin_ui/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet" />
	<link href="/xdm/template/admin_ui/libs/slick-carousel/slick/slick.css" rel="stylesheet" />
	<link href="/xdm/template/admin_ui/libs/slick-carousel/slick/slick-theme.css" rel="stylesheet" />
	<link href="/xdm/template/admin_ui/libs/nouislider/dist/nouislider.min.css" rel="stylesheet" />
	<link href="/xdm/template/admin_ui/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
	<link href="/xdm/template/admin_ui/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet">
	<link href="/xdm/template/admin_ui/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="/xdm/template/admin_ui/css/theme.min.css">
	<link rel="stylesheet" th:href="@{/xdm/template/admin_ui/css/card.container-style.css}">
	<link rel="stylesheet" th:href="@{/xdm/template/admin_ui/css/custom-style.css}">
	<link rel="stylesheet" type="text/css" href="/xdm/template/admin_ui/css/jquery.datetimepicker.css">
	
	<!-- Favicon icon-->
	<link rel="shortcut icon" type="image/x-icon" href="/xdm/template/admin_ui/images/favicon/favicon.ico">
	
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	
	<style>
		/* 아이콘 버튼 기본 스타일 */
		.icon-button {
			color: #333;
			font-size: 1.5rem;
			transition: color 0.2s;
			text-decoration: none; /* 밑줄 제거 */
		}
		
		.icon-button:hover {
			color: #0d6efd; /* Bootstrap Primary color */
		}
		
		/* 드롭다운 메뉴의 헤더 스타일 */
		.dropdown-header-user {
			padding: 0.75rem 1.25rem;
			background-color: #f8f9fa;
			border-bottom: 1px solid #dee2e6;
		}
	</style>
</head>

<body>
	<!-- navigation -->
	<header class="py-lg-5 py-4 border-bottom border-bottom-lg-0">
		<div class="container">
			<div class="row w-100 align-items-center gx-3">
				<!-- 로고 및 검색창 (좌측) -->
				<div class="col-xl-7 col-lg-8">
					<div class="d-flex align-items-center">
						<a class="navbar-brand d-none d-lg-block" href="/user/index/indexUserForm">
							<img src="/xdm/template/admin_ui/images/logo/freshcart-logo.svg" height="38" alt="eCommerce HTML Template" />
						</a>
						<div class="w-100 ms-4 d-none d-lg-block">
							<form action="#">
								<div class="input-group">
									<input class="form-control rounded" type="search" placeholder="상품 검색하기" />
									<span class="input-group-append">
										<button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end" type="button">
											<i class="feather-icon icon-search"></i>
										</button>
									</span>
								</div>
							</form>
						</div>
					</div>
					<!-- 모바일 헤더 -->
					<div class="d-flex justify-content-between align-items-center w-100 d-lg-none">
						<a class="navbar-brand mb-0" href="/user/index/indexUserForm">
							<img src="/xdm/template/admin_ui/images/logo/freshcart-logo.svg" alt="eCommerce HTML Template" />
						</a>
						<div class="d-flex align-items-center lh-1">
							<a href="/usr/cart/CartUsrList" class="text-reset me-4">
								<i class="feather-icon icon-shopping-cart" style="font-size: 1.5rem;"></i>
							</a>
							<button class="navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
								<i class="feather-icon icon-menu"></i>
							</button>
						</div>
					</div>
				</div>

				<!-- 사용자 메뉴 (우측) -->
				<div class="col-xl-5 col-lg-4 d-flex align-items-center justify-content-end">
					<!-- PC 화면 전용 메뉴 -->
					<div class="list-inline ms-auto d-none d-lg-block">
						<div class="d-flex align-items-center gap-4">

							<!-- [로그인 안 됐을 때] -->
							<th:block th:if="${session.sessIdUsr == null}">
								<a href="/user/index/signupUserForm" class="text-muted">회원가입</a>
								<a href="/user/index/signinUserForm" class="btn btn-primary">로그인</a>
							</th:block>

							<!-- [로그인 됐을 때] -->
							<th:block th:if="${session.sessIdUsr != null}">
								<!-- 장바구니 아이콘 -->
								<a href="/usr/cart/CartUsrList" class="icon-button" title="장바구니">
									<i class="fas fa-shopping-cart"></i>
								</a>
								<!-- 사용자 드롭다운 메뉴 -->
								<div class="dropdown">
									<a href="#" class="icon-button" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="내 정보">
										<i class="fas fa-user-circle"></i>
									</a>
									<ul class="dropdown-menu dropdown-menu-end">
										<li class="dropdown-header-user">
											<h6 class="mb-0" th:text="${session.sessNameUsr} + ' 님'">OOO 님</h6>
											<small class="text-muted">환영합니다!</small>
										</li>
										<li><a class="dropdown-item" href="/usr/setting/AccountOrdersUsrList"><i class="fa-solid fa-receipt me-2"></i>주문 내역</a></li>
										<li><a class="dropdown-item" href="#"><i class="fa-solid fa-user-pen me-2"></i>회원정보 수정</a></li>
										<li><hr class="dropdown-divider"></li>
										<li><a id="btnSignout" class="dropdown-item" href="javascript:void(0);"><i class="fa-solid fa-right-from-bracket me-2"></i>로그아웃</a></li>
									</ul>
								</div>
							</th:block>

						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<!-- 메인 내비게이션 바 -->
	<nav class="navbar navbar-expand-lg navbar-light navbar-default py-0 py-lg-2 border-bottom navbar-offcanvas-color" aria-label="Offcanvas navbar large">
		<div class="container">
			<div class="offcanvas offcanvas-start" tabindex="-1" id="navbar-default" aria-labelledby="navbar-defaultLabel">
				<div class="offcanvas-header pb-1">
					<a href="/user/index/indexUserForm"><img src="/xdm/template/admin_ui/images/logo/freshcart-logo.svg" alt="eCommerce HTML Template" /></a>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<!-- 모바일 검색창 -->
					<div class="d-block d-lg-none mb-4">
						<form action="#">
							<div class="input-group">
								<input class="form-control rounded" type="search" placeholder="상품 검색하기" />
								<span class="input-group-append">
									<button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end" type="button">
										<i class="feather-icon icon-search"></i>
									</button>
								</span>
							</div>
						</form>
					</div>

					<!-- 내비게이션 메뉴 리스트 -->
					<div>
						<ul class="navbar-nav align-items-center gap-2">
							<li class="nav-item">
								<a class="nav-link" href="/user/index/indexUserForm">
									<i class="fa-solid fa-house me-1"></i> 홈
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/user/grid/GridUserForm">
									<i class="fa-solid fa-store me-1"></i> 상품목록
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/xdm/index/dashboardXdmForm">
									<i class="fa-solid fa-chart-line me-1"></i> Dashboard
								</a>
							</li>
							<!-- 다른 메뉴가 필요하다면 여기에 추가 -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
</th:block>
</body>
</html>