<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{xdm/include/headXdm :: headXdm}"></div>

         <!-- main wrapper -->
         <main class="main-content-wrapper">
            <div class="container">
               <!-- row -->
               <div class="row mb-8">
                  <div class="col-md-12">
                     <!-- page header -->
                     <div>
                        <h2>회원 관리</h2>
                        <!-- breacrumb -->
                        <nav aria-label="breadcrumb">
                           <ol class="breadcrumb mb-0">
                              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Order List</li>
                           </ol>
                        </nav>
                     </div>
                  </div>
               </div>
               <!-- row -->
               <div class="row">
                  <div class="col-xl-12 col-12 mb-5">
                     <!-- card -->
                     <div class="card h-100 card-lg">
                        <div class="p-6">
                           <div class="row justify-content-start">
                              <div class="col-md-10 col-12 mb-2 mb-md-0">
                                 <!-- form -->
                                 <form class="d-flex" role="search" name="formList" method="post">
                                 <input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
								 <input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
									<!-- select -->
									<div class="col-md-2">
									<select id="shDelNy" name="shDelNy" class="form-select form-select-sm">
										<option value="" th:selected="${vo.shDelNy == null}">삭제여부</option>
										<option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
										<option value="0" th:selected="${vo.shDelNy == 0}">N</option>            
									</select>
                                 	</div>
                             		<div class="col-md-2">
									<select name="shUseNy" id="shUseNy" class="form-select form-select-sm">
										<option value="" th:selected="${vo.shUseNy == null}">사용여부</option>
										<option value="1" th:selected="${vo.shUseNy == 1}">Y</option>
										<option value="0" th:selected="${vo.shUseNy == 0}">N</option>
									</select>
                                 	</div>
                                 	<div class="col-md-2">
										<select id="shOptionDate" name="shOptionDate" class="form-select form-select-sm">
											<option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
											<option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option>
											<option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
										</select>
                                 	</div>
                                	<div class="col-md-2">
                                    <input type="text" id="shDateStart" name="shDateStart"  placeholder="시작일" class="form-control form-control-sm" autocomplete="off">
                                    </div>
                                    <div class="col-md-2">
                                   <input type="text" id="shDateEnd" name="shDateEnd" placeholder="종료일" class="form-control form-control-sm" autocomplete="off">
                                    </div>
                              </div>
                           <div class="row justify-content-start">
                              <div class="col-md-10 col-12 mb-2 mb-md-0">
                              	<div class="d-flex align-items-center gap-2">
                              	<div class="col-md-2">
									<select id="shOption" name="shOption" class="form-select form-select-sm">
										<option value="" th:selected="${vo.shOption == null}">검색구분</option>
										<option value="1" th:selected="${vo.shOption == 1}">id</option>
										<option value="2" th:selected="${vo.shOption == 2}">name</option>
<!-- 										<option value="3" th:selected="${vo.shOption == 3}">코드그룹 이름 (영문)</option> -->
<!-- 										<option value="4" th:selected="${vo.shOption == 4}">코드</option> -->
<!-- 										<option value="5" th:selected="${vo.shOption == 5}">코드 이름</option> -->
<!-- 										<option value="6" th:selected="${vo.shOption == 6}">코드 이름 (영문)</option> -->
									</select>
                                 	</div>
                                 	<div class="col-md-2">
						                <input type="text" id="shValue" name="shValue" th:value="${vo.shValue}" onkeyup="enterkey()" placeholder="검색어" class="form-control form-control-sm">
						            </div>
						            <div class="col-md-2">
                                     <button type="button" id="btnSearch" class="btn btn-outline-dark"><i class="bi bi-search"></i></button>
                                     <button  type="button" id="btnReset" class="btn btn-outline-dark"><i class="bi bi-arrow-clockwise"></i></button>
                                     </div>
                              </div>
                           </div>
                        </div>
                        </div>
                        <!-- card body -->
                        <div class="card-body p-0">
                           <!-- table responsive -->
                           <div class="table-responsive">
                              <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
                                 <thead class="bg-light">
                                    <tr>
                                       <th>
                                          <div class="form-check">
                                             <input class="form-check-input" type="checkbox" id="checkAll" />
                                             <label class="form-check-label" for="checkAll"></label>
                                          </div>
                                       </th>
                                       <th>membSeq</th>
                                       <th>authLevel</th>
                                       <th>id</th>
                                       <th>password</th>
                                       <th>surName</th>
                                       <th>name</th>
                                       <th>gender_code</th>
                                       <th>telecom_code</th>
                                       <th>birthDate</th>
                                       <th>userZipcode</th>
                                       <th>userAdressNew</th>
                                       <th>userAdressOld</th>
                                       <th>userAdressDetail</th>
                                       <th>userGpsX</th>
                                       <th>userGpsY</th>
                                       <th>membUseNy</th>
                                       <th>membDelNy</th>
                                       <th>membRegDate</th>
                                       <th>membModDate</th>
                                       <th></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                       	<tr th:each="member : ${list}">
                                       	<td>
                               				<div class="form-check">
                                             <input class="form-check-input" type="checkbox" name="selectedItems" th:value="${member.membSeq}"/>
                                             <label class="form-check-label"></label>
                                          	</div>
                                       	</td>
						                <td th:text="${member.membSeq}"></td>
						                <td th:text="${member.authLevel}"></td>
						                <td th:text="${member.id}"></td>
						                <td th:text="${member.password}"></td>
						                <td th:text="${member.surName}"></td>
						                <td th:text="${member.name}"></td>
						                <td th:text="${member.gender_code}"></td>
						                <td th:text="${member.telecom_code}"></td>
						                <td th:text="${member.birthDate}"></td>
						                <td th:text="${member.userZipcode}"></td>
						                <td th:text="${member.userAdressNew}"></td>
						                <td th:text="${member.userAdressOld}"></td>
						                <td th:text="${member.userAdressDetail}"></td>
						                <td th:text="${member.userGpsX}"></td>
						                <td th:text="${member.userGpsY}"></td>
						                <td th:text="${member.membUseNy}"></td>
						                <td th:text="${member.membDelNy}"></td>
						                <td th:text="${member.membRegDate}"></td>
						                <td th:text="${member.membModDate}"></td>
						                <td>
						                	<div class="dropdown">
                                             <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="feather-icon icon-more-vertical fs-5"></i>
                                             </a>
                                             <ul class="dropdown-menu">
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-trash me-3"></i>
                                                      Delete
                                                   </a>
                                                </li>
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-pencil-square me-3"></i>
                                                      Edit
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </td>
						            </tr>
                                </tbody>
                              </table>
                           </div>
                        </div>
                        <ul class="pagination mb-0">
	                        <li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;">
								<a class="page-link" href="javascript:goList(${vo.startPage - 1})" th:attr="onclick=|goList('${vo.startPage - 1}')|">
									<i class="fa-solid fa-angle-left"></i>
								</a>
							</li>
							<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;">
								<a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"><!-- ${i.index} --></a>
							</li>
							<li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;">
								<a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|">
									<i class="fa-solid fa-angle-right"></i>
								</a>
							</li>
						</ul>
						<div class="d-flex justify-content-end mt-3">
						  <button class="btn btn-primary me-2" type="button" id="btnForm">
						    <i class="fas fa-plus fa-lg"></i>
						    <img src="/xdm/template/admin_ui/images/plus.svg" alt="추가">            
						  </button>
						  
						  <button class="btn btn-success" type="button" id="exportExcel">
						    <i class="fas fa-file-excel fa-lg"></i>
						    <img src="/xdm/template/admin_ui/images/excel.svg" alt="엑셀 내보내기">
						  </button>
						</div>
                     </div>
                  </div>
               </div>
            </div>
         </main>
      </div>
</form>
<div th:replace="~{xdm/include/footerXdm :: footerXdm}"></div>

<script type="text/javascript">
const listUrl = "/member/memberXdmList";
const formUrl = "/member/memberXdmForm";
const seqName = "membSeq";

document.getElementById("exportExcel").onclick = function () {
    location.href = "/member/membersXdmExcel";
};
</script>
   </body>
</html>